<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <title>{{= title }}</title>
    <meta name="description" content="<%= description %>">

    <!-- CSS -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic|Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/static/build/css/main.css' />

</head>
<body class='page-{{= page }}'>
