{{ include _top.html }}


Blog 

{{ for(postIndex in posts){ }}
    {{// Possible fields: }}
    {{// title, slug, created, description, category, tags, timeToRead, content }}

    <div>
        {{ post = posts[postIndex] }}

        <a href='/blog/{{- post.slug }}'>
            {{- post.title }} 
        </a> in 
        <a href='/blog/category/{{- post.categoryLower }}'>
            {{- post.category }} 
        </a>
        on {{- moment(post.created).format('MMMM Do, YYYY') }}

        <div>
            Tags: 
            {{ for(tagIndex in post.tags){ }}

                <a href='/blog/tag/{{- post.tagsLower[tagIndex] }}'>
                    {{- post.tags[tagIndex] }}
                </a>
            {{ } }}
        </div>
    </div>
{{ } }}

<h4>
ALL TAGS
</h4>

{{ tags.forEach(function(tag){ }} 
    <a href='/blog/tag/{{- util.toLower(tag) }}' target='_blank'>
        {{- tag }}
    </a>
{{ }) }}

{{ include _bottom.html }}
